.instruction-menu {
    display: none;
    transition: 0.3s ease-in-out;
}

.instruction-menu.show {
    display: block;
}

.instruction-step {
    @apply text-slate-50 flex items-center justify-start py-1;
}
